
body {
    max-width: 1000px;
    margin: auto;
}

.header,
.hero {
    border: 2px solid red;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

img {
    width: 300px;
    height: 200px;
}